body {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #e0ebf9;
}

h1 {
    text-align: center;
    color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    padding: 10px;
    background-color: #3f3f3f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0;
    border-radius: 5px;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 25px;
}

#drop1{
    width: 20%;
    flex-shrink: 1;
    margin: 10px;
    border-style: solid;
    border-size: 1px;
    border-radius: 8px;
    border-color: #cccccc
}

#drop2{
    width: 20%;
    flex-shrink: 1;
    margin: 10px;
    border-style: solid;
    border-size: 1px;
    border-radius: 8px;
    border-color: #cccccc
}

#drop3{
    width: 20%;
    flex-shrink: 1;
    margin: 10px;
    border-style: solid;
    border-size: 1px;
    border-radius: 8px;
    border-color: #cccccc
}

#drop4{
    width: 20%;
    flex-shrink: 1;
    margin: 10px;
    border-style: solid;
    border-size: 1px;
    border-radius: 8px;
    border-color: #cccccc
}

#graphDiv {
    text-align: center;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    margin: 30px;
    font-size: 20px;
}

#chainDiv {
    text-align: center;
    background-color: #fff;
    border-style: solid;
    border-color: #000;
    margin: 30px;
    font-size: 20px;
}

#dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    font-size: 15px;
}

#dropdown2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
    font-size: 15px;
}

